<h1 class="title">Account Information</h1>
<p>
  <strong>Name: </strong> <%= @user.name%>
</p>
<p>
  <strong>Address: </strong> <%= @user.address%>
</p>
<p>
  <strong>Planet: </strong> <%= @user.planet.name%>
</p>
<p>
  <strong>Email Address: </strong> <%= @user.email%>
</p>
<p>
  <strong>Order History: </strong>
</p>