<h1 class="title">All starships:</h1>
<div class="columns is-multiline">
  <%= render partial: 'starship',
            collection: @starships,
            locals: {name_is_link: true}%>
</div>
<div class="pagination">
  <%= paginate @starships, window: 2 %>
</div>

