<h1 class="title">Search results:</h1>
<%if @starships%>
  <div class="columns is-multiline">
    <%= render partial: 'starship',
              collection: @starships,
              locals: {name_is_link: true}%>
  </div>
<%else%>
  <p>No results found.</p>
<%end%>

